<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cursor_event.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid_template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plg.css') }}">

    <title>Plancton | Home</title>

    <script src="{{ url_for('static', filename='js/navbar.js') }}" defer></script>

</head>
<body>

    <nav id="navbar">
        <ul class="navlist df fdr">
            <li class="leftbox df f1 fdr jc_start ai_center">
                <a href="{{ url_for('main.index') }}" class="bold fw600 poppins uppercase underline_event">Plancton</a>
            </li>
            <ul class="rightbox df f1 fdr jc_se ai_center fw400 montserrat uppercase">
                <li class="navbox-link">
                    <a href="{{ url_for('main.plg') }}" class="underline_event">start now</a>
                </li>
                <li class="navbox-link">
                    <a href="#" class="underline_event">about</a>
                </li>
                <li class="navbox-link">
                    <a href="#" class="underline_event">services</a>
                </li>
                <li class="navbox-link">
                    <div class="menu-btn" onclick="menuBtnActive(this)">
                        <span class="top-layer menu-btn-layer"></span>
                        <span class="bottom-layer menu-btn-layer"></span>
                    </div>
                </li>
            </ul>
        </ul>
    </nav>

    <main id="main">

        <header id="header" class="df ai_center">
            <div class="header-bg-box">
                <img class="header-bg" src="{{ url_for('static', filename='img/header_bg.png') }}" alt="header background">
            </div>
            <div class="header-box">
                <aside class="header-logo df jc_sa ai_center">
                    <p>✦</p>
                    <p>PLANCTON</p>
                    <p>✦</p>
                </aside>
                <div class="header-content df fdc">
                    <h1 class="header-title">{{ header_title }}</h1>
                    <p class="header-description">{{ header_desc }}</p>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}
    </main>

</body>
</html>