.df{
    display: flex;
}

.db{
    display: block;
}

.f1{
    flex: 1;
}

.f2{
    flex: 2;
}

.f3{
    flex: 3;
}

.fdr{
    flex-direction: row;
}

.fdc{
    flex-direction: column;
}

.jc_start{
    justify-content: start;
}

.jc_center{
    justify-content: center;
}

.jc_end{
    justify-content: end;
}

.jc_sa{
    justify-content: space-around;
}

.jc_sb{
    justify-content: space-between;
}

.jc_se{
    justify-content: space-evenly;
}

.ai_start{
    align-items: start;
}

.ai_center{
    align-items: center;
}

.ai_end{
    align-items: end;
}