
.g-start-08h00{
    grid-row-start: 1;
}
.g-start-08h15{
    grid-row-start: 15;
}
.g-start-08h30{
    grid-row-start: 30;
}
.g-start-08h45{
    grid-row-start: 45;
}
.g-start-09h00{
    grid-row-start: 100;
}
.g-start-09h15{
    grid-row-start: 115;
}
.g-start-09h30{
    grid-row-start: 130;
}
.g-start-09h45{
    grid-row-start: 145;
}
.g-start-10h00{
    grid-row-start: 200;
}
.g-start-10h15{
    grid-row-start: 215;
}
.g-start-10h30{
    grid-row-start: 230;
}
.g-start-10h45{
    grid-row-start: 245;
}
.g-start-11h00{
    grid-row-start: 300;
}
.g-start-11h15{
    grid-row-start: 315;
}
.g-start-11h30{
    grid-row-start: 330;
}
.g-start-11h45{
    grid-row-start: 345;
}
.g-start-12h00{
    grid-row-start: 400;
}
.g-start-12h15{
    grid-row-start: 415;
}
.g-start-12h30{
    grid-row-start: 430;
}
.g-start-12h45{
    grid-row-start: 445;
}
.g-start-13h00{
    grid-row-start: 500;
}
.g-start-13h15{
    grid-row-start: 515;
}
.g-start-13h30{
    grid-row-start: 530;
}
.g-start-13h45{
    grid-row-start: 545;
}
.g-start-14h00{
    grid-row-start: 600;
}
.g-start-14h15{
    grid-row-start: 615;
}
.g-start-14h30{
    grid-row-start: 630;
}
.g-start-14h45{
    grid-row-start: 645;
}
.g-start-15h00{
    grid-row-start: 700;
}
.g-start-15h15{
    grid-row-start: 715;
}
.g-start-15h30{
    grid-row-start: 730;
}
.g-start-15h45{
    grid-row-start: 745;
}
.g-start-16h00{
    grid-row-start: 800;
}
.g-start-16h15{
    grid-row-start: 815;
}
.g-start-16h30{
    grid-row-start: 830;
}
.g-start-16h45{
    grid-row-start: 845;
}
.g-start-17h00{
    grid-row-start: 900;
}
.g-start-17h15{
    grid-row-start: 915;
}
.g-start-17h30{
    grid-row-start: 930;
}
.g-start-17h45{
    grid-row-start: 945;
}
.g-start-18h00{
    grid-row-start: 1000;
}
.g-start-18h15{
    grid-row-start: 1015;
}
.g-start-18h30{
    grid-row-start: 1030;
}
.g-start-18h45{
    grid-row-start: 1045;
}
.g-start-19h00{
    grid-row-start: 1100;
}
.g-start-19h15{
    grid-row-start: 1115;
}
.g-start-19h30{
    grid-row-start: 1130;
}

/* ############################################## */

.g-end-08h00{
    grid-row-end: 1;
}
.g-end-08h15{
    grid-row-end: 15;
}
.g-end-08h30{
    grid-row-end: 30;
}
.g-end-08h45{
    grid-row-end: 45;
}
.g-end-09h00{
    grid-row-end: 100;
}
.g-end-09h15{
    grid-row-end: 115;
}
.g-end-09h30{
    grid-row-end: 130;
}
.g-end-09h45{
    grid-row-end: 145;
}
.g-end-10h00{
    grid-row-end: 200;
}
.g-end-10h15{
    grid-row-end: 215;
}
.g-end-10h30{
    grid-row-end: 230;
}
.g-end-10h45{
    grid-row-end: 245;
}
.g-end-11h00{
    grid-row-end: 300;
}
.g-end-11h15{
    grid-row-end: 315;
}
.g-end-11h30{
    grid-row-end: 330;
}
.g-end-11h45{
    grid-row-end: 345;
}
.g-end-12h00{
    grid-row-end: 400;
}
.g-end-12h15{
    grid-row-end: 415;
}
.g-end-12h30{
    grid-row-end: 430;
}
.g-end-12h45{
    grid-row-end: 445;
}
.g-end-13h00{
    grid-row-end: 500;
}
.g-end-13h15{
    grid-row-end: 515;
}
.g-end-13h30{
    grid-row-end: 530;
}
.g-end-13h45{
    grid-row-end: 545;
}
.g-end-14h00{
    grid-row-end: 600;
}
.g-end-14h15{
    grid-row-end: 615;
}
.g-end-14h30{
    grid-row-end: 630;
}
.g-end-14h45{
    grid-row-end: 645;
}
.g-end-15h00{
    grid-row-end: 700;
}
.g-end-15h15{
    grid-row-end: 715;
}
.g-end-15h30{
    grid-row-end: 730;
}
.g-end-15h45{
    grid-row-end: 745;
}
.g-end-16h00{
    grid-row-end: 800;
}
.g-end-16h15{
    grid-row-end: 815;
}
.g-end-16h30{
    grid-row-end: 830;
}
.g-end-16h45{
    grid-row-end: 845;
}
.g-end-17h00{
    grid-row-end: 900;
}
.g-end-17h15{
    grid-row-end: 915;
}
.g-end-17h30{
    grid-row-end: 930;
}
.g-end-17h45{
    grid-row-end: 945;
}
.g-end-18h00{
    grid-row-end: 1000;
}
.g-end-18h15{
    grid-row-end: 1015;
}
.g-end-18h30{
    grid-row-end: 1030;
}
.g-end-18h45{
    grid-row-end: 1045;
}
.g-end-19h00{
    grid-row-end: 1100;
}
.g-end-19h15{
    grid-row-end: 1115;
}
.g-end-19h30{
    grid-row-end: 1130;
}