

#plg-section{
    h2{
        font-size: clamp(30px, 10vw, 120px);
        padding: 40px 3vw 0;
    }
}

.plg-content{
    transform: scale(.9);
    border: 1px solid rgb(var(--bg-tertiary));
    border-radius: 5px;
    /* overflow: hidden; */
}

.week-days{
    display: flex; justify-content: space-evenly;
    width: 100%; padding-block: 10px;
    padding-inline: 5px;

    background-color: rgb(var(--bg-tertiary));
    & p{
        flex: 1;
        text-align: center;
        font-size: clamp(8px, 2vw, 16px);
    }
}
.plg{
    width: 100%;
    padding: 5px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1125, 1fr);

    gap: 1px .3vw;
    /* overflow: hidden; */
    background-color: rgb(var(--alt-bg));
}

.plg-data{
    background-color: rgb(var(--bg-tertiary));
    border-radius: 5px;
    cursor: default;
    position: relative;

    display: flex; 
    flex-direction: column;
    /* overflow: auto; */

    &:hover{
        background-color: rgba(var(--bg-tertiary), var(--alpha));
    }
}

.no-overflow{
    width: 100%; height: 100%;
    position: absolute;
    overflow: hidden;
}

#homework-meter{
    width: clamp(10px, 2vw, 20px); height: clamp(10px, 2vw, 20px);
    font-size: clamp(8px, 1vw, 16px);
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -5px; right: -5px;
    z-index: 2;

    display: flex;
    justify-content: center; align-items: center;
}

.scroll-content{
    --info-display: none;
    --btn-info-scale: 1;

    position: absolute;
    width: calc(100% - 6px); height: calc(100% - 6px);

    margin: 3px;
    cursor: pointer;

    .course-info, .homeworks-info{
        position: relative;
        height: 100%;
        display: var(--info-display); flex-direction: column;
        overflow: auto;
        z-index: 1;
    }
    .homeworks-info{
        justify-content: space-between;
        gap: 20px;
    }

    .switch{
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        overflow: hidden; pointer-events: none;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
        
            width: 2vw; height: 2vw;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 100%;
        
            background-color: rgb(var(--alt-bg));
            transform: scale(var(--btn-info-scale));
        
            transition: transform .4s ease;
        }
    }

    p {
        width: 100%;
        text-align: center;
        font-size: clamp(6px, 1vw, 16px);
        padding: 5px 2px;
    }
}

.homeworks{
    display: flex; flex-direction: column;
    gap: 2px;
    margin-block: 2px;
}

.homeworks div{
    width: 90%;
    display: flex;
    margin-inline: auto;
    p{
        flex: 5;
        display: flex;

        font-size: clamp(4px, 1vw, 16px);
        text-align: left;
        word-break: normal;
    }
    span{
        flex: 1;
        display: flex;
        justify-content: center; align-items: center;

        font-size: clamp(8px, 1vw, 16px);
        background-color: rgb(var(--bg-tertiary));  
        border-radius: 10px;
        transition: background-color .4s ease;
        &:hover{
            background-color: rgba(var(--bg-tertiary), var(--alpha));
        }
    }
}

.info-display-func{
    --info-display: flex;
}
.btn-scale-func{
    --btn-info-scale: 100;
}

#add-homework{
    position: relative;

    width: 90%; height: auto;
    margin-inline: auto;
    margin-bottom: 20px;

    background-color: rgb(var(--bg-tertiary));
    border-radius: 5px;

    transition: background-color .4s ease;

    p{
        padding-inline: 5px;
    }

    &:hover{
        background-color: rgba(var(--bg-tertiary), var(--alpha));
    }
}


/* .switch{
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;

    &::before{
        content: '';

        position: absolute;
        bottom: 0;
        z-index: 0;
    
        width: 2vw; height: 2vw;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 100%;
    
        background-color: rgb(var(--alt-bg));
        transform: scale(var(--btn-info-scale));
    
        transition: transform .4s ease;
    }
} */






.lun{
    grid-column: 1;
}
.mar{
    grid-column: 2;
}
.mer{
    grid-column: 3;
}
.jeu{
    grid-column: 4;
}
.ven{
    grid-column: 5;
}
.sam{
    grid-column: 6;
}
.dim{
    grid-column: 7;
}

.border{
    box-shadow: 1px 0 0 .5px white;
}

/* 

"web",
"math",
"dev",
"archi", "systemes",
"eco", "gestion",
"bd",
"ppp",
"sae",
"comm",
"anglais",
"tutorat", "soutien"

*/

/* .web{background-color: plum;}
.math{background-color: blue;}
.dev{background-color: red;}
.systemes{background-color: palevioletred;}
.archi{background-color: purple;}
.eco, .gestion{background-color: yellow;}
.bd{background-color: aqua;}
.ppp{background-color: green;}
.sae{background-color: rgb(113, 237, 113);}
.comm{background-color: lightcyan;}
.anglais{background-color: pink;}
.tutorat, .soutien, .default{background-color: white;} */

@media screen and (max-width: 780px) {
    .plg-content{
        transform: scale(1);
    }
}
