:root{
    --bg-primary    : 35,47,8;
    --bg-secondary  : 52,51,11;
    --bg-tertiary   : 60,84,60;

    --alt-bg    : 86,80,8;
    --hover-bg  : 115,157,7;

    --alpha: .6;

    --text-primary  : 255,255,255;
    --alt-text      : 0,0,0;
    --text-secondary: 163,184,10;
}

*, body{
    padding: 0; margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(var(--bg-primary));
    color: rgb(var(--text-primary));
}

li{
    list-style: none;
}

a{
    color: rgb(var(--text-primary));
    text-decoration: none;
}

imp{
    color: rgb(var(--text-secondary));
}

.noise{
    background-image: url('../img/noise.png');
    background-repeat: repeat;
}



#main{
    position: relative;
    width: 100%; height: 100vh;
    display: flex; flex-direction: column;

    background: url('../img/header_bg.png') 50% 50%/ cover;
    box-shadow: inset 0 4em 10em 5em black;

    .upper-content{
        display: flex;
        width: 100%; height: calc(100% - 40px);

        .left-side{
            display: flex; flex-direction: column;
            flex: 10;
        }
    }
}

#navbar{
    flex: 1;

    display: flex; justify-content: space-between;
    padding: 4vh 2vw;
    .logo{
        display: flex;
        justify-content: center; align-items: center;
        font-size: clamp(16px, 4vw, 45px);
    }
    .menu{
        position: relative;
        width: 60px; height: 60px;

        display: flex;
        justify-content: center; align-items: center;

        .row{
            width: 20px; height: 60px;
            display: flex; flex-direction: column;
            align-items: center; justify-content: space-evenly;
            div, a{
                width: 8px; height: 8px;
                background-color: rgb(var(--text-primary));
                border-radius: 50%;

                transition: transform .4s ease, background-color .3s ease;
            }
        }

        &::before{
            content: '';
            width: 60px; height: 60px;
            position: absolute;
            
        }
    }
}

#navbar .menu:hover{
    &::before{
        width: 120px; height: 120px;
    }
    .row1 a:nth-child(2){
        transform: translateX(-30px) scale(3.8);
    }
    .row1 a:nth-child(3){
        transform: translate(-30px, 30px) scale(3.8);
    }
    .row2 a:nth-child(3){
        transform: translateY(30px) scale(3.8);
    }
    .row1 a:nth-child(2):hover,
    .row1 a:nth-child(3):hover,
    .row2 a:nth-child(3):hover{
        background-color: rgb(var(--hover-bg));
    }

}

#content{
    flex: 10;

    display: flex; flex-direction: column;
    justify-content: end;

    h2{
        font-size: clamp(20px, 8vw, 180px);
        padding: 40px 10vw;
    }

    .links{

        display: flex;
        justify-content: space-around;
        padding-block: 40px;
    }
}

#corner{
    width: 100%; height: 40px;
    display: flex;

    .left-part{
        flex: 10; height: 100%;
        background-color: rgba(var(--bg-tertiary), var(--alpha));
    }

    .corner{
        position: relative;
        flex: 1; height: 100%;
        background-color: rgb(var(--bg-tertiary));
        padding-inline: clamp(10px, 3vw, 15px);
    }
}

#credits{
    flex: 1;

    overflow: hidden;
    background-color: rgba(var(--bg-tertiary), var(--alpha));
    color: rgb(var(--bg-tertiary));
    padding-inline: clamp(10px, 3vw, 15px);

    div{
        width: 100%; height: 100vh;

        display: flex;
        align-items: center; justify-content: space-evenly;

        writing-mode: sideways-lr;
        font-size: clamp(1em, 15vw, 100px);

        p{
            height: 50vh;
            padding-inline: 20px;
            min-height: max-content;
        }
    }
}
